@model points.Models.TimesOfEvaluationAndPerformance

@{
    ViewData["Title"] = " تعديل دورة لقياس الأداء";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>دورة لقياس الأداء</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item "><a asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                    <li class="breadcrumb-item "><a asp-controller="TimesOfEvaluationAndPerformances" asp-action="Index">دورة قياس الأداء</a></li>
                    <li class="breadcrumb-item active">      تعديل دورة لقياس الأداءء </li>

                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus-circle"></i>
                تعديل دورة لقياس الأداء
            </h3>

        </div>
        <div class="card-body">


            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" hidden class="form-control" />

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FromDate" class="control-label"></label>
                    <input asp-for="FromDate" type="text" id="FromDate" class="form-control" />
                    <span asp-validation-for="FromDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ToDate" class="control-label"></label>
                    <input asp-for="ToDate" type="text" id="ToDate" class="form-control" />
                    <span asp-validation-for="ToDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control">
                        <option value="">الرجاء الإختيار</option>
                        <option value="True">منشور</option>
                        <option value="False">مؤرشف</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="حفظ" class="btn btn-primary" />
                </div>
            </form>

        </div>

        <!-- /.card-body -->
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(document).ready(function () {
            $("#FromDate").datepicker();
            $("#ToDate").datepicker();

        });
    </script>
}








