@model AppUserEditViewModel

@{
    ViewData["Title"] = "تعديل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">

    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">المستخدمين</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                    <li class="breadcrumb-item "><a asp-controller="AppUsers" asp-action="Index">المستخدمين</a> </li>
                    <li class="breadcrumb-item active"> تعديل مستخدم </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <div class="card">
        <div class="card-header ">
            <h3 class="card-title"> تعديل مستخدم </h3>


        </div>
        <!-- /.card-header -->
        <div class="card-body">


            <form class="form-horizontal" asp-controller="AppUser" asp-action="Edit">
                <input asp-for="Id" type="hidden">

                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Email" readonly class="form-control" id="inputEmail3" placeholder="البريد الإلكتروني">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="FullName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="FullName" class="form-control" id="inputEmail3" placeholder="الاسم ">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                    </div>


                </div>


                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-block col-md-2">حفظ</button>


                </div>
                <!-- /.card-footer -->
            </form>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <div class="card">
        <div class="card-header">
            <h5>ادوار المستخدم</h5>
        </div>
        <div class="card-body">
            @if (Model.Roles.Any())
            {
                <ol>

                    @foreach (var role in Model.Roles)
                    {

                        <li><h5 class="card-title">@role</h5></li>
                    }
                </ol>

            }
            else
            {
                <h5 class="card-title">لايوجد ادوار للمستخدم</h5>
            }
        </div>

        <div class="card-footer">
            <a asp-action="ManageUserRoles" asp-route-userId="@Model.Id"
               class="btn btn-primary">
                ادارة الأدوار
            </a>
        </div>
    </div>



    <div class="card">
        <div class="card-header">
            <h5>الوكالات - والإدارات</h5>
        </div>
        <div class="card-body">
            @if (Model.Departments.Any())
            {
                <ol>

                    @foreach (var role in Model.Departments)
                    {

                        <li><h5 class="card-title">@role</h5></li>
                    }
                </ol>

            }
            else
            {
        <h5 class="card-title">
            لاتوجدوكالات وادارات للمستخدم
        </h5>
            }
        </div>

        <div class="card-footer">
            <a asp-action="ManageUserDepartments" asp-route-userId="@Model.Id"
               class="btn btn-primary">
                ادارة الوكالات  والإدارات
            </a>
        </div>
    </div>

</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


