@model IEnumerable<AppUserIndexModelViews>

@{
    ViewData["Title"] = "المستخدمين";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>الرئيسية</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item " ><a asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                    <li class="breadcrumb-item active">المستخدمين</li>

                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
            <i class="fas fa-users"></i>
            المستخدمين</h3>
            <a asp-action="Create" class="btn  btn-primary  btn-sm text-white float-left m-0">
                <i class="fas fa-plus-circle"></i>
                مستخدم جديد
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table tab-content table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>الإسم</th>
                            <th>الإيميل</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <th>1</th>
                                <td>@user.FullName</td>
                                <td>@user.Email</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success ml-1">
                                        <i class="fas fa-user-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger ">
                                            <i class="fas fa-user-minus"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card-body -->
      
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
